@import 'variables';

.alert-wrapper {
  // padding: $size-10;
  // box-shadow: 0px $size-10 $size-20 $size-2 rgba(0, 0, 0, 0.25);
  display: flex;
  // margin: $size-10;
  // border-radius: $radius;
  width: 22em;
  background-color: $cor-branco;

  .alert-icon {
    flex: 0 0 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &.sucesso span {
      color: $cor-verde;
    }

    &.aviso span {
      color: $cor-amarelo;
    }

    &.erro span {
      color: $cor-vermelho;
    }

    &.info span {
      color: $cor-azul;
    }

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: $size-3;
      border-radius: $radius;
      left: 0;
    }

    &.sucesso:before {
      background-color: $cor-verde;
    }

    &.aviso:before {
      background-color: $cor-amarelo;
    }

    &.erro:before {
      background-color: $cor-vermelho;
    }

    &.info:before {
      background-color: $cor-azul;
    }

    .icon {
      font-size: $size-20;
    }
  }

  .alert-desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .alert-title {
      color: $cor-texto;
      font-size: $size-15;
    }

    .alert-subtitle {
      font-size: $size-14;
      color: $cor-texto-claro;
    }
  }

  .alert-close {
    flex: 0 0 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      color: $cor-texto-claro;
    }
  }
}
