@import '../../../../assets/scss/variables';


.content-form {
  width: 30rem;
  margin: 0 auto;
}

@media (max-width: $break-desktop) {
  .content-form{
    width: 80%;
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
