.table-content {
  max-height: calc(100vh - 11.625rem);
  overflow: auto;
}

.cdk-column-acoes {
  flex: 0 0 10rem;
}

.cdk-column-ativo {
  flex: 0 0 10rem;
}

.filter-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
