<div class="filter-content">
    <div class="d-flex align-items-center justify-content-between">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Tipos</mat-label>
            <mat-select multiple>
              <!--<mat-select-trigger>
                {{toppings.value?.[0] || ''}}
                @if ((toppings.value?.length || 0) > 1) {
                  <span class="example-additional-selection">
                    (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                }
              </mat-select-trigger>-->
                <mat-option [value]="0">Entrada</mat-option>
                <mat-option [value]="1">Saída</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Categorias</mat-label>
            <mat-select multiple>
              <!--<mat-select-trigger>
                {{toppings.value?.[0] || ''}}
                @if ((toppings.value?.length || 0) > 1) {
                  <span class="example-additional-selection">
                    (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                }
              </mat-select-trigger>-->
              @for (categoria of categorias; track categoria) {
                <mat-option [value]="categoria.id">{{categoria.nome}}</mat-option>
               }
            </mat-select>
          </mat-form-field>

      <!-- <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Buscar categoria</mat-label>
        <input matInput>
         <mat-error>{{form.email?.errors! | validationMessage}}</mat-error>
      </mat-form-field> -->
      <button class="width-10" mat-flat-button (click)="novaTransacao()">Nova Transação</button>
    </div>
</div>

<div class="table-content">
<mat-table mat-table [dataSource]="transacoes">
  <ng-container matColumnDef="tipo">
    <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Tipo"> 
        @if (element.tipo == 0) {
            <p>Entrada</p>
            }@else {
            <p>Saída</p>
            } 
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="categoria">
    <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Categoria"> {{element.categoria?.nome}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="valor">
    <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Valor"> {{element.valor}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Data"> {{element.data }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="descricao">
    <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Descrição"> {{element.descricao}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Ações">
      <span class="material-symbols-outlined cursor-pointer" (click)="editarTransacao(element)">
        edit
      </span>

      <span class="material-symbols-outlined cor-vermelho ms-2 cursor-pointer" (click)="removerTransacao()">
        delete
      </span>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [class.row-entrada]="row.tipo == 0" [class.row-saida]="row.tipo == 1"></mat-row>
</mat-table>
</div>
